@page "/"
@inject IAuthService AuthService
@inject NavigationManager NavManager;
@attribute [Authorize(Roles = "User")]
<h3>Home</h3>

<p class="@(messageForEndGame == String.Empty ? "" : "alert alert-danger")">@messageForEndGame</p>

<EditForm Model="@newGame" OnValidSubmit="@(async () => await JoinOrCreateNewGame())"
          Context="formContext">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label for="@newGame.Question">
        Ваше питання для гри
        <InputText id="question" @bind-Value="@newGame.Question" />
    </label>
    
    <label for="@newGame.MaxUsersCount">
        Максимальна кількість гравців
        <InputNumber id="maxUsersCount" @bind-Value="@newGame.MaxUsersCount" />
    </label>
    <label for="@newGame.GameType">
        Створити нову гру чи приєднатися до існуючої
        <InputRadioGroup Name="gameType" ValueChanged="@((e) => SelectGameType(e))" TValue="GameType" ValueExpression="() => newGame.GameType">
            <InputRadio Name="gameType" Value="@GameType.Parrent" checked="@(newGame.GameType == GameType.Parrent)" />
            <InputRadio Name="gameType" Value="@GameType.Child"  checked="@(newGame.GameType == GameType.Child)" />
        </InputRadioGroup>
    </label>
    @if (!newGame.ParentGame.HasValue)
    {
        <label for="@newGame.DateBeginning">
            Дата початку гри
            <InputDateTime id="dateBeginning" @bind-Value="@newGame.DateBeginning" />
        </label>
        <label for="@newGame.DateEnding">
            Дата закінчення гри
            <InputDateTime id="date" @bind-Value="@newGame.DateEnding" />
        </label>
    }
    <label>
        @if (newGame.GameType == GameType.Child)
        {
            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Game Id</th>
                        <th scope="col">Will start</th>
                        <th scope="col">Will finish</th>
                        <th scope="col">Choice</th>
                    </tr>
                </thead>
                <tbody>
                    <InputRadioGroup Name="parentGame" @bind-Value="newGame.ParentGame">
                        @if (userGames != null)
                        {
                            foreach (var game in userGames)
                            {
                                <tr>
                                    <td>@game.GameId</td>
                                    <td class="text-center">@game.DateBeginning</td>
                                    <td class="text-center">@game.DateEnding</td>
                                    <td class="text-center">
                                        <InputRadio Name="parentGame" Value="@game.GameId" />
                                    </td>
                                </tr>
                            }
                        }
                    </InputRadioGroup>
                </tbody>
            </table>
        }
    </label>
    <button type="submit" class="btn btn-sm btn-success">Start new game</button>
</EditForm>





@code {
    //TODO: якщо користувач вибирає функцію Приєднатися до існуючої гри, не повинно відображатися вікно з максимальною 
    //кількістю гравців, за щамовчанням треба задавати одиницю
    //TODO: зробити так, щоб при завантаженні сторінки відображався один з пунктів типу гри як відмічений (батьківська чи дочірня гра)
    private string messageForEndGame = String.Empty;
    private IEnumerable<GameDTO>? userGames;
    private NewUserGame newGame = new()
        {
            GameType = GameType.Parrent,
            DateBeginning = DateTime.Now.AddHours(1),
            DateEnding = DateTime.Now.AddHours(4)
        };

    protected override async Task OnInitializedAsync()
    {
        var token = await AuthService.GetHttpClientToken();
        Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("bearer", token);
        try
        {
            userGames = await Http.GetFromJsonAsync<List<GameDTO>>("api/game/lastGamesToJoin");
            //TODO: якщо немає ігр, до яких можна приєднатися, то взагалі не показувати можливість вибору, а ставити 
            //за замовчуванням батьківську гру
        }
        catch (Exception)
        {
            userGames = new List<GameDTO>();
        }

    }

    private async Task JoinOrCreateNewGame()
    {
        ChangeGameOutMessage("");

        if (newGame.GameType == GameType.Parrent)
        {
            newGame.ParentGame = null;
        }
        else if (newGame.GameType == GameType.Child)
        {
            var selectGame = userGames?.FirstOrDefault(x => x.GameId == newGame.ParentGame);
            if (selectGame != null && selectGame != default(GameDTO))
            {
                newGame.DateBeginning = selectGame!.DateBeginning;
                newGame.DateEnding = selectGame!.DateEnding;
            }
        }

        OracleDTO? oracle = default;
        try
        {
            var response = await Http.PostAsJsonAsync<NewUserGame>($"api/Game/new", newGame);
            if (response.IsSuccessStatusCode)
            {
                oracle = await response.Content.ReadFromJsonAsync<OracleDTO>();
                NavManager.NavigateTo($"/newGame/{oracle!.GameId}");
            }
            else
            {
                //TODO: додати логування і виводити дані в лог, а не консоль
                var errorMessage = await response.Content.ReadAsStringAsync();
                ChangeGameOutMessage(errorMessage.Replace('"', ' ' ));
                Console.WriteLine("Помилка при створенні нової гри");
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private void SelectGameType(GameType gameType)
    {
        newGame.GameType = gameType;
        if (gameType == GameType.Parrent)
        {
            newGame.ParentGame = null;
        }
        StateHasChanged();
    }

    private void ChangeGameOutMessage(string message = "")
    {
        if (message == "")
            message = String.Empty;

        messageForEndGame = message;
    }
}
