@page "/newGame"
@page "/newGame/{GameId:int}"
@using System.Net.Http.Json
@using TamboliyaLibrary.DAL
@using TamboliyaLibrary.Models
@using Microsoft.AspNetCore.Authorization
@inject IJSRuntime JSRuntime
@inject NavigationManager NavManager;
@inject IHttpClientFactory ClientFactory
@inject IAuthService AuthService
@inject ILoggerFactory LoggerFactory
@inject IGameRepository GameRepo
@attribute [Authorize(Roles = "User")]

<div style="margin: auto;width: 990px; height:500px;background-image: url(@(pathToImage));" id="baseImage"></div>

<PageTitle>Нова гра</PageTitle>

<div class="">
    @if (GameId > 0)
    {
        if (gameFinished)
        {
            ChangeGameOutMessage("Гру закінчено!");
        }
        else if (RegionOnMap == RegionOnMap.LandOfClarity && ActualPositionsForSelect.Count() == 3)
        {
            Task.FromResult(MoveFigure(new GamePosition(790 - 14, 250 - 29, pathToImage)));
            <select @onchange="GoToNewPositionWhatImDoingHere">
                <option value="Select">Select...</option>
                @foreach (var item in ActualPositionsForSelect)
                {
                    <option value="@item.PositionNumber">@((LandOfClarity)item.PositionNumber)</option>
                }
            </select>
            <button type="button" class="btn btn-sm btn-info" onclick="@(async () => await EndTheGame())">End The Game</button>
        }
        else if (RegionOnMap == RegionOnMap.LandOfClarity && PositionNumber == 18)
        {
            ChangeGameOutMessage("Вітаю. Гру закінчено!");
        }
        else if ((RegionOnMap == RegionOnMap.LandOfClarity || RegionOnMap == RegionOnMap.Embodiment ||
        PositionNumber == 12) && !gameFinished)
        {
            <button type="button" class="btn btn-sm btn-danger" onclick="@(async () => await GoToNewPosition())">Go to new position</button>
            <button type="button" class="btn btn-sm btn-info" onclick="@(async () => await EndTheGame())">End The Game</button>
        }
        else if (RegionOnMap == RegionOnMap.LandOfClarity)
        {
            <button type="button" class="btn btn-sm btn-danger" onclick="@(async () => await GoToNewPosition())">Go to new position</button>
            <button type="button" class="btn btn-sm btn-info" onclick="@(async () => await EndTheGame())">End The Game</button>
        }
        else if (!gameFinished)
        {
            <button type="button" class="btn btn-sm btn-success" onclick="@(async () => await RollDice())">Roll the dice</button>
            <button type="button" class="btn btn-sm btn-danger" onclick="@(async () => await GoToNewPosition())">Go to new position</button>
            <button type="button" class="btn btn-sm btn-info" onclick="@(async () => await EndTheGame())">End The Game</button>
        }
        <p class="@(messageForEndGame == String.Empty ? "" : "alert alert-danger")">@messageForEndGame</p>
    }
</div>

@if (GameId > 0)
{
    @if (logLines == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div style="display:flex;">
            <div style="width:50%; max-height:600px; overflow-y:scroll;">
                <Chat GameId="@GameId.Value" GameFinished="gameFinished" @ref="@chat" />
            </div>
            <div style="width:50%; display:flex; max-height:600px; overflow-y:scroll;">
                <table class="table">
                    <tbody>
                        @foreach (var line in logLines?.Messages!)
                        {
                            <tr>
                                <td>@line</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}





@code {
    [ParameterAttribute] public int? GameId { get; set; }
    private string messageForEndGame = String.Empty;
    public bool gameFinished = false;
    private string? question = null;
    private string pathToImage = "images/Oracul.jpg";
    private GameLogDTO? logLines;
    private RegionOnMap RegionOnMap { get; set; }
    private int? PositionNumber { get; set; }
    private List<ActualPositionOnMap> ActualPositionsForSelect { get; set; } = new();
    public int SelectedIdForNextStepToEmbodiment { get; set; }
    private Chat? chat = new();
    private bool _disposed = false;
    private int offset = 0;
    private ILogger<Index> logger = null!;


    protected override async Task OnInitializedAsync()
    {
        logger = LoggerFactory.CreateLogger<Index>();
        offset = await JSRuntime.InvokeAsync<int>("getAppTimeZone");

        if (GameId.HasValue && GameId > 0)
        {
            gameFinished = await GetGameStatus();
            await GetInfoAboutExistGame();
            await GetLog();
        }

        await base.OnInitializedAsync();
    }

    private async Task GetInfoAboutExistGame()
    {
        GameDTO? game = null;
        try
        {
            game = await GameRepo.GetGameInfo(GameId!.Value);
        }
        catch (Exception ex)
        {
            logger.LogWarning(ex.Message);
        }
        pathToImage = game!.PathToImage;
        RegionOnMap = game!.ActualPosition!.RegionOnMap;
        PositionNumber = game!.ActualPosition!.PositionNumber;

        if (pathToImage != null)
        {
            var newGameposition = new GamePosition(game.Coordinates.x, game.Coordinates.y, pathToImage);
            await MoveFigure(newGameposition);
        }
    }

    private async Task<bool> GetGameStatus()
    {
        try
        {
            return await GameRepo.GetGameStatus(GameId);
        }
        catch (Exception ex)
        {
            logger.LogWarning(ex.Message);
            throw new OperationCanceledException(ex.Message);
        }
    }

    private async Task RollDice()
    {
        ChangeGameOutMessage("");
        var model = new MoveModel()
            {
                GameId = GameId!.Value,
                ActionType = ActionType.RandomAction
            };

        try
        {
            var result = await GameRepo.Move(model);

            RegionOnMap = result!.ActualPosition!.RegionOnMap;
            PositionNumber = result!.ActualPosition!.PositionNumber;
            ActualPositionsForSelect = result!.ActualPositionsForSelect;
            pathToImage = result!.PathToImage;
            if (result!.IsFinished || (RegionOnMap == RegionOnMap.LandOfClarity && PositionNumber == 18))
            {
                gameFinished = true;
                ChangeGameOutMessage("Гру закінчено!");
            }
            await MoveFigure(new GamePosition(result.Coordinates.x, result.Coordinates.y, pathToImage));
            await GetLog();
        }
        catch
        {
            ChangeGameOutMessage("Помилка при виконанні команди");
        }
    }

    private async Task GoToNewPositionWhatImDoingHere(ChangeEventArgs e)
    {
        ChangeGameOutMessage("");
        SelectedIdForNextStepToEmbodiment = Convert.ToInt32(e.Value);
        MoveModel model = new MoveModel()
            {
                GameId = GameId!.Value,
                ActionType = ActionType.GoToSelectPosition,
                RegionOnMap = RegionOnMap.LandOfClarity,
                PositionNumber = SelectedIdForNextStepToEmbodiment
            };
        SelectedIdForNextStepToEmbodiment = 0;
        ActualPositionsForSelect = new();

        try
        {
            var result = await GameRepo.Move(model);

            RegionOnMap = result!.ActualPosition!.RegionOnMap;
            PositionNumber = result!.ActualPosition!.PositionNumber;
            ActualPositionsForSelect = result!.ActualPositionsForSelect;
            pathToImage = result!.PathToImage;
            if (result!.IsFinished)
            {
                gameFinished = true;
                ChangeGameOutMessage("Гру закінчено!");
            }
            await MoveFigure(new GamePosition(result.Coordinates.x, result.Coordinates.y, pathToImage));
            await GetLog();
        }
        catch (Exception ex)
        {
            logger.LogWarning(ex.Message);
            ChangeGameOutMessage("Помилка при виконанні команди");
        }
    }

    private async Task GoToNewPosition()
    {
        ChangeGameOutMessage("");
        MoveModel model = new MoveModel()
            {
                GameId = GameId!.Value,
                ActionType = ActionType.NewStep
            };

        try
        {
            var result = await GameRepo.Move(model);

            RegionOnMap = result!.ActualPosition!.RegionOnMap;
            PositionNumber = result!.ActualPosition!.PositionNumber;
            ActualPositionsForSelect = result!.ActualPositionsForSelect;
            pathToImage = result!.PathToImage;
            if (result!.IsFinished || (RegionOnMap == RegionOnMap.LandOfClarity && PositionNumber == 18))
            {
                gameFinished = true;
                ChangeGameOutMessage("Гру закінчено!");
            }
            await MoveFigure(new GamePosition(result.Coordinates.x, result.Coordinates.y, pathToImage));
            await GetLog();
        }
        catch (Exception ex)
        {
            logger.LogWarning(ex.Message);
            ChangeGameOutMessage("Помилка при виконанні команди");
        }
    }


    private async Task MoveFigure(object newPosition)
    {
        await JSRuntime.InvokeVoidAsync("moveFigure", new
        {
            x = ((GamePosition)newPosition).x,
            y = ((GamePosition)newPosition).y
        });
    }


    private async Task GetLog()
    {
        try
        {
            logLines = await GameRepo.GetGameLog(GameId) ?? new();
        }
        catch (Exception ex)
        {
            logger.LogWarning(ex.Message);
            logLines = new();
        }
    }

    private async Task EndTheGame()
    {
        ChangeGameOutMessage("");

        var gameDTO = new EndGameDTO()
            {
                GameId = GameId!.Value,
                Offset = offset
            };

        try
        {
            var result = await GameRepo.Finish(gameDTO);
            ChangeGameOutMessage(result!);
            gameFinished = true;
        }
        catch (Exception ex)
        {
            logger.LogWarning(ex.Message);
        }
        await GetLog();
    }

    private void ChangeGameOutMessage(string message = "")
    {
        if (message == "")
            message = String.Empty;

        messageForEndGame = message;
    }
}

